<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="../static/fonts/acceuil_fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/acceuil css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/acceuil css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/acceuil css/style.css">

    <title>Smart Notary</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Landing Page - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles_landing_page.css" rel="stylesheet" />

    <script language="Javascript">

        var reqNom;
        var reqMail;
        var reqDOB;
        var reqCP;
        var reqVille;

        function initform() {
            reqNom = document.getElementById("req_nom");
            reqNom.hidden = true;

            reqMail = document.getElementById("req_mail");
            reqMail.hidden = true;

            reqDOB = document.getElementById("req_dob");
            reqDOB.hidden = true;

            reqVille = document.getElementById("req_ville");
            reqVille.hidden = true;

            reqMotif = document.getElementById("req_motif");
            reqMotif.hidden = true;
        }

        function validform() {
            //variable d'état
            var error = false;
            var error_message = [];

            //Nom
            var tbxNom = document.getElementById("nom");
            if (tbxNom != null) {
                if (tbxNom.value.trim() != "") {
                    //le champ est bien rempli
                    reqNom.hidden = true;
                    tbxNom.className = "";
                }
                else {
                    //le champ est vide
                    reqNom.hidden = false;
                    error = true;
                    tbxNom.className = "error";
                    error_message.push(reqNom.innerHTML);
                }
            }

            //Adresse email
            var tbxMail = document.getElementById("email");
            if (tbxMail != null) {
                if (tbxMail.value.trim() != "") {
                    //le champ est bien rempli
                    reqMail.hidden = true;
                    tbxMail.className = "";

                    var testMail = tbxMail.value.match(".+\@.+\..+");
                    if (testMail == null) {
                        reqMail.hidden = false;
                        error = true;
                        tbxMail.className = "error";
                        error_message.push("Adresse email invalide");
                    }
                }
                else {
                    //le champ est vide
                    reqMail.hidden = false;
                    error = true;
                    tbxMail.className = "error";
                    error_message.push(reqMail.innerHTML);
                }
            }

            //Date de naissance
            var tbxDOB = document.getElementById("naissance");
            if (tbxDOB != null) {
                if (tbxDOB.value.trim() != "") {
                    //le champ est bien rempli
                    reqDOB.hidden = true;
                    tbxDOB.className = "";

                    var testDOB = tbxDOB.value.match("[0-9]{2}\/[0-9]{2}\/[0-9]{4}");
                    if (testDOB == null) {
                        reqDOB.hidden = false;
                        error = true;
                        tbxDOB.className = "error";
                        error_message.push("Date de naissance invalide");
                    }
                }
                else {
                    //le champ est vide
                    reqDOB.hidden = false;
                    error = true;
                    tbxDOB.className = "error";
                    error_message.push(reqDOB.innerHTML);
                }
            }

            //Motif
            var tbxMotif = document.getElementById("motif");
            if (tbxMotif != null) {
                if (tbxMotif.value.trim() != "") {
                    //le champ est bien rempli
                    reqMotif.hidden = true;
                    tbxMotif.className = "";
                }
                else {
                    //le champ est vide
                    reqMotif.hidden = false;
                    error = true;
                    tbxMotif.className = "error";
                    error_message.push(reqMotif.innerHTML);
                }
            }

            if (error == true && error_message.length > 0) {
                var pnlerror = document.getElementById("errors");
                pnlerror.hidden = false;

                var newul = document.createElement("ul");
                for (var message in error_message) {
                    var newli = document.createElement("li");
                    newli.innerHTML = error_message[message];
                    newul.appendChild(newli);
                }

                var ul = pnlerror.querySelector("ul");
                ul.remove();
                pnlerror.appendChild(newul);
            }

            return !error;
        }
    </script>
</head>

<body>
    <!-- Masthead-->
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar site-navbar-target py-4" role="banner">
        <div class="container">
            <div style="text-align:center;"> <img src="logo.jpg" width="250" height="100" /></div>
            <div class="row align-items-center position-relative">
                <div class="col-3 ml-auto text-right order-2">
                    <div class="site-logo">
                        <a href="landing_page.html" class="font-weight-bold text-black">Se Déconnecter</a>
                    </div>
                </div>
                <div class="col-9 order-1 text-left mr-auto">


                    <span class="d-inline-block d-lg-block"><a href="#"
                            class="text-black site-menu-toggle js-menu-toggle py-5"><span
                                class="icon-menu h3 text-black"></span></a></span>



                    <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            <li class="active"><a href="acceuil.html" class="nav-link">Accueil</a></li>
                            <li><a href="MesDocuments.html" class="nav-link">Mes Documents</a></li>
                            <li><a href="certif.html" class="nav-link">Certifier un nouveau fichier</a></li>

                            <li><a href="Parametre.html" class="nav-link">Paramètres</a></li>
                            <li><a href="aide.html" class="nav-link">Besoin d'aide ?</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>

    </header>


    <br><br><br><br><br><br><br>
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <div class="features-icons-item mx-auto sm sm-0 sm-3">
                        <div class="features-icons-icon d-flex"><i
                                class="bi bi-info-circle-fill m-auto text-primary"></i>
                        </div>
                        <h3>Nous contacter</h3>
                        <p>Ici vous pouvez nous contacter pour demander votre accès école, en cas de problèmes ou à la
                            moindre question</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col align-self-center">
        <div id="pageform">
            <form id="form1" method="POST" action="" onsubmit="return validform()">
                <div class="ligne-form">
                    <label for="nom">Nom*</label>
                    <input type="text" id="nom" name="nom" value="" placeholder="votre nom" />
                    <span id="req_nom" class="validation">Champ "Nom" requis</span>
                </div>
                <div class="ligne-form">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" name="prenom" value="" placeholder="votre pr&eacute;nom" />
                </div>
                <div class="ligne-form">
                    <label for="email">Adresse email*</label>
                    <input type="text" id="email" name="email" value="" placeholder="votre adresse email" />
                    <span id="req_mail" class="validation">Champ "Adresse email" requis</span>
                </div>
                <div class="ligne-form">
                    <label for="naissance">Date de naissance*</label>
                    <input type="datetime" id="naissance" name="naissance" value="" placeholder="JJ/MM/AAAA" />
                    <span id="req_dob" class="validation">Champ "Date de naissance" requis</span>
                </div>
                <div class="ligne-form">
                    <label for="motif">Motif*</label>
                    <input type="text" id="motif" name="motif" value="" placeholder="votre message" />
                    <span id="req_motif" class="validation">Champ "Motif" requis</span>
                </div>
                <div id="errors" hidden>
                    <h2><img src="./img/attention.png" />Erreurs de saisie dans le formulaire</h2>
                    <ul>
                        <li>ERROR messages 11</li>
                        <li>ERROR messages 1</li>
                    </ul>
                </div>
                <div id="valider"><input type="submit" value="Valider" /></div>
            </form>
        </div>
    </div>
    <script language="Javascript">
        initform();
    </script>
</body>